{% extends 'base.html.twig' %}



{% block content %}

        {% if verified == 'False' %}
            <div class="panel shadow-2xl h-auto flex items-center justify-center">
                {% if encours == true %}
                    <div class="bg-green-500 self-center align-middle flex flex-col items-center justify-center text-center border border-green-600 text-white px-16 py-6 rounded relative shadow-2xl " role="alert">
                    <div>
                        <p class="font-medium">
                            Votre compte est en cours d'activation. Veuillez patienter, cela peut prendre quelques minutes!
                        </p>
                    </div>
                    </div>
                    {% else %}
                <div class="bg-red-100 self-center align-middle flex flex-col items-center justify-center text-center border border-red-400 text-red-700 px-16 py-6 rounded relative shadow-2xl " role="alert">
                <div>
                    <p class="font-medium">
                        Pour gagner de l'argent avec Khadamni et créer des formations, vous devez activer vos méthodes de paiement.
                    </p>
                    <p class="text-sm mt-2">
                        Veuillez <a href="{{ path('app_payment_activate') }}" class="text-red-700 font-bold">cliquer ici</a> pour activer vos méthodes de paiement.
                    </p>

                </div>
                </div>
                    {% endif %}
            </div>

        {% else %}

            <div class="panel shadow-2xl">
        <a href="{{ path('app_formation_new') }}" class=" uppercase self-end text-sm font-bold tracking-wide bg-blue-600 hover:bg-blue-700 text-gray-100 p-2 rounded-lg w-auto
                      focus:outline-none focus:shadow-outline">
            Ajouter une formation
        </a>
                <table class="w-full text-sm text-left">
                    <caption class="p-5 text-lg font-bold text-left  text-white shadow-2xl">
                        Mes Formations:
                        <p class="mt-1 text-sm font-normal white">Vous pouvez gérer vos formations éxistantes  ou ajouter une nouvelle formation. </p>

                    </caption>



                    <thead class="text-xs  whitespace-nowrap uppercase bg-gray-700 text-gray-300">

                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nom du Formation
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Déscription
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Durée
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Prix
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Del</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for f in formations %}
                       <tr class="ligne text-white font-medium whitespace-nowrap ">
                            <th scope="row" class="px-6 py-4">
                                {{ f.nomFormation|upper() }}
                            </th>
                            <td class="px-6 py-4">
                                {{ f.description }}
                            </td>
                            <td class="px-6 py-4">
                                {{ f.duree }} semaines
                            </td>
                            <td class="px-6 py-4">
                                {{ f.prix }} TND
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="{{ path('app_formation_edit',{'idFormation':f.idFormation}) }}" class="font-bold text-blue-800 hover:underline expand-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Modifier</a>
                            </td>
                            <td class="px-6 py-4 text-right">
                                <div>
                                    <form method="post" action="{{ path('app_formation_delete', {'idFormation': f.idFormation}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ??');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ f.idFormation) }}">
                                        <button class="font-bold text-blue-800 hover:underline expand-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Supprimer</button>
                                    </form>
                                </div>

                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}



{% endblock %}