
    {% extends 'base.html.twig' %}

{% block title %}Accueil des Publication{% endblock %}

{% block body %}
   

            <div class="row">
               
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="icon-bx-wraper center m-b40">
                         <h1 class="my-2">Details Publication</h1>
                        <form method="post" action="{{ path('app_publication_delete', {'idpost': publication.idpost}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.idpost) }}">
    
    <div class="d-flex flex-column align-items-end">
    <button class="btn btn-danger">X</button>
    </div>
</form>
                            <div class="icon-bx-sm bg-secondry m-b20"> <span class="icon-cell"><i class="ti-reload text-primary"></i></span> </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte text-uppercase">
                {{ publication.idUser.nom }}</h5>
                                <p>{{ publication.description }} </p>
                                <div>
                                <a href="{{ path('likepub', {'idpost': publication.idpost}) }}"><button class="site-button m-r15">{{ publication.nblikes }} Likes</button></a>
                    <a href="{{ path('dislike', {'idpost': publication.idpost}) }}"><button class="site-button-secondry">{{ publication.nbdislike }} dislike</button></a>
                                                    <a href="{{ path('updatePubFront', {'idpost': publication.idpost}) }}"><button class="site-button-secondry">Update</button></a>

                                
                                </div>
                                <div>

                           <h4  class="my-3">Create new Commentaire</h4>

                <div class=" align-self-center mb-5">
    {{ include('commentaire/_form.html.twig') }}

</div>
 {% for commentaire in commentaires %}
        <div class="row">
          <h6> Comment by {{commentaire.idUser.nom}} </h6>
               <h5>
                {{ commentaire.description }}
                                               <a href="{{path('updateCommentFront',{'idComment':commentaire.idComment})}}"><button class="btn btn-warning">Update</button></a>

                <a href="{{path('deleteFront',{'idComment':commentaire.idComment})}}"><button class="btn btn-danger">X</button></a>

                </h5>
                 {{form_start(formRep,{'attr':{'class':'form-horizontal',novalidate:'novalidate'}})}}
<table class="table">
              
                  <tr>
                    <td>{{form_label(formRep.message,"Reply")}}</td>
<td>{{form_widget(formRep.message,{ 'attr': {'class': 'form-control col-4 my-2'} })}}</td>                   
                    <td>{{form_errors(formRep.message)}}</td>
                  </tr>
    {{ form_widget(formRep.idCom, { 'value': commentaire.idComment }) }}

              
              </table>
    <button class="site-button m-r15">{{ button_label|default('Create') }}</button>
{{ form_end(form) }}

          </div>
        {% else %}
            <h6>
                <td colspan="4">no comments found</td>
            </h6>
        {% endfor %}
   
                                </div>
                            </div>
                        </div>

                    </div>


       
                    {% endblock %}
   
       