{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block content %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdReclamation</th>
                <th>DateReclamation</th>
                <th>Description</th>
                <th>TypeReclamation</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idReclamation }}</td>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.typeReclamation }}</td>
                <td>{{ reclamation.email }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'idReclamation': reclamation.idReclamation}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'idReclamation': reclamation.idReclamation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
