{% extends 'base-front.html.twig' %}
{% block titre%}
<title>Boutique</title>
{% endblock %}
{% block body%} 

<div class="page-content">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle" style="background-image:url({{ asset('images/background/slide11.jpg') }});">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Boutique</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Accueil</a></li>
                <li>Produits</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="text-center m-b50">
            <h2 class="m-t0">Nos Produits</h2>
            <div class="dlab-separator-outer "><div class="dlab-separator bg-primary style-skew"></div> </div>
        </div>
        <div class="row" id="masonry">
<div class="content-inner section-full bg-white">
    <!-- Product -->
    {% for p in produits %} 
    {#{{ dump(p) }}#}
<div class="col-lg-3 col-md-6 col-sm-6 m-b30 product-item card-container">
    <div class="dlab-box ">
         <div class="dlab-thum-bx  dlab-img-effect "> <img src="http://localhost/images/{{p.getImage()}}" alt="">
            <div class="overlay-bx">
                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="ti-shopping-cart icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fas fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="ti-heart icon-bx-xs"></i> </a> </div>
            </div>
         </div>
           <div class="dlab-info p-a20 text-center">
            <h4 class="dlab-title m-t0 text-uppercase"><a href="#">{{p.getNomProd()}}</a></h4>
            <h2 class="m-b0">{{p.getPrixProd()}} DT</h2>
            <div class="m-t20">
                <a href="{#{{path('ajouter_produit_panier',{'panier':panier, 'produit':p})}}#}" class="site-button">Ajouter au Panier</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}   
</div>
</div>
</div>
</div>
</div>

{% endblock %}