{% extends 'base.html.twig' %}

{% block content %}
    <h1>Modifier User</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.numTel) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.age) }}


    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}
