

{% extends 'index.html.twig' %}
{% block body %}
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                Simple Table</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>
                                        nom
                                    </th>
                                    <th>
                                        prenom
                                    </th>
                                    <th>
                                        email
                                    </th>
                                    <th>
                                        numero
                                    </th>
                                    <th>
                                        adresse
                                    </th>
                                    <th>
                                        age
                                    </th>
                                    <th>
                                        modifier
                                    </th>
                                    <th class="text-right">
                                        supprimer
                                    </th>
                                    </thead>
                                    <tbody id="prev-tab">
                                    {% for user in users %}
                                        <tr>
                                            <td>
                                                {{ user.nom }}
                                            </td>
                                            <td>
                                                {{ user.prenom }}
                                            </td>
                                            <td>
                                                {{ user.email }}
                                            </td>
                                            <td>
                                                {{ user.numTel }}
                                            </td>
                                            <td>
                                                {{ user.adresse }}
                                            </td>
                                            <td>
                                                {{ user.age }}
                                            </td>
                                            <td>
  
        
       <form method="post" action="{{ path('app_admin_modify',{'id': user.idUser}) }}">
   <select name="my_select">
            <option value=1 {% if user.idRole.idRole == 1 %}selected{% endif %}>Admin</option>
            <option value=2 {% if user.idRole.idRole == 2 %}selected{% endif %}>User</option>
            <option value=3 {% if user.idRole.idRole == 3 %}selected{% endif %}>Recruteur</option>
        </select>
    
    <button type="submit">Modifier</button>
</form>

  
</td>
                                            
                                    
   
     

 <td>

                                                <form method="post" action="{{ path('app_user_delete', {'idUser': user.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.idUser) }}">
                                                    <button class="btn">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24">
                                                            <path d="M0 0h24v24H0V0z" fill="none"/>
                                                            <path d="M19 7h-3V6c0-1.1-.9-2-2-2H10c-1.1 0-2 .9-2 2v1H5v2h14V7zm-9-1h4v1h-4V6zM4.5 9h15l-1.39 12.63c-.08.69-.67 1.37-1.36 1.37H7.35c-.69 0-1.28-.68-1.36-1.37L4.5 9zm7.5 10c.92 0 1.67.75 1.67 1.67S13.92 22 13 22s-1.67-.75-1.67-1.67.75-1.67 1.67-1.67zm4.92-7l-.71-4H9.79l-.71 4h9.34z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                        <tbody id="new-tab"></tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

   {% endblock %}