

{% extends 'homeuser.html.twig' %}

{% block content %}
<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Shop</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Shop</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
</div>
{% endblock %}
{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-7 align-self-center">
        <div class="section-title text-center">
            <h6 class="sub-title double-line"><span></span>  Products</h6>
            <h2 class="title">Our Popular Products</h2>
            <p class="content">D&R is the Tunisian's number 1 supplier of Car Parts and products for the Drift fans and supporters ! With over 250+ products of hights quality </p>
        </div>
    </div>
    
  <!-- contact area -->
  <div class="section-full content-inner">
    <!-- Product -->
    <div class="container">
        <div class="row">
            {% for i in p %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="item-box m-b10">
                    <div class="item-img">
                        <img src="http://localhost/images/{{i.getImage}}" alt=""/>
                        <div class="item-info-in">
                            <ul>
                                <li><a href="#"><i class="ti-shopping-cart"></i></a></li>
                                <li><a href="{{path('affichedetail',{'id':i.id})}}"><i class="ti-eye"></i></a></li>
                                <li><a href="#"><i class="ti-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-info text-center text-black p-a10">
                        <h6 class="item-title"><a href="{{path('affichedetail',{'id':i.id})}}">{{i.nom_prod}}</a></h6>
                       
                        
                        <p class="content">{{i.description_prod}}</p>
                        <h4 class="item-price"><span class="text-primary">{{i.prix_prod}} Dt</span></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
  
{% endblock %}